body {
    background: #43444f url(../images/page-background.png);
    overflow: hidden;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-transition: -webkit-filter .5s;
}

header a, #sidebar a {
    color: #fdfdfe;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    font-size: 13px;
    font-weight: normal;
}

header {
    background: url(../images/navbar.png);
    background-repeat: repeat-x;
    background-origin: content-box;
    background-size: 100% 100%;
    height: 50px;
}


body > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: url(../images/header-background.png);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

body > header > h1 {
    display: block;
    position: relative;
    margin: 0px auto;
    margin-top: 10px;
    margin-left: 13px;
    padding: 0;
    color: #b72325;
    font-size: 26px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

body > header > h1 > span {
    color: #f0f0f0;
}

#sidebar {
    position: fixed;
    top: 51px;
    left: 0;
    bottom: 0;
    width: 260px;
    overflow-y: auto;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    transition: bottom 0.5s;
    border-top: 1px solid #555;
    box-sizing: border-box;
}


#top-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 48px;
    right: 0;  
}

#bottom-sidebar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    border-top: 1px solid #222;
    box-shadow: 0 -2px 6px #333;
}

#sidebar .inner-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;    
}


#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#sidebar ul:first-child {
    margin-top: 15px;
}

#sidebar li {
    padding-left: 20px;
}

#sidebar li:not(.active):hover {
    background: url(../images/list-background.png) repeat-x;
}

#sidebar li.active {
    background: url(../images/list-background.png) 0 -29px repeat-x;
}

#sidebar h3, #sidebar li a {
    display: block;
    padding-right: 30px;
    line-height: 29px;
}

#sidebar li a {
    color: #fdfdfe;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
}

#sidebar h3, #sidebar li {
    position: relative;
    height: 29px;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
}

#sidebar li i {
    float: left;
    margin: 5px 10px 0 0px;
    pointer-events: none;
}

#sidebar h3 {
    padding: 10px 0 0px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.6);
    text-transform: uppercase;
}

#wrapper {
    position: absolute;
    background: url(../images/background.png);
    top: 0;
    left: 261px;
    right: 0;
    bottom: 0;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, left 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, left 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, left 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out, left 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    border-left: 1px solid #111;
    box-shadow: 0 -2px 6px #333;
    min-width: 320px;
}

.icon-bar {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    line-height: 14px;
    vertical-align: text-top;
}

.icon-bar + .icon-bar {
    margin-top: 3px;
}

.btn-collapse {
    display: inline-block;
    padding: 7px 10px !important;
}

#wrapper > header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 51px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    text-align: center;
}

#wrapper > header .btn-group {
    display: inline-block;
    box-shadow: 0 0 1px #222;
    border-radius: 6px;
    border: 1px solid #111;
}

#wrapper > header .btn-group > a {
    margin: 0;
    padding: 6px 8px;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border-top: 1px solid #777;
    border-radius: 6px;
    text-decoration: none;
}

#wrapper > header > .left-controls {
    position: absolute;
    left: 8px;
    top: 8px;
}

#wrapper > header > .right-controls {
    position: absolute;
    right: 8px;
    top: 10px; 
}

#wrapper > header > h1 {
    display: inline-block;
    position: relative;
    height: 100%;
    margin: 0px auto;
    margin-top: 10px;
    padding: 0;
    color: #f9f9f9;
    font-size: 26px;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 1);
}

#container {
    position: absolute;
    left: 0;
    top: 51px;
    right: 0;
    bottom: 0;
    overflow: auto;
    text-align: center;
    border-top: 1px solid #555;
}

#container .box {
  margin: 10px;
  font-size: 11px;
  line-height: 1.4em;
  display: inline-block;
  min-width: 296px;
  min-height: 444px;
}

#container .box img {
  box-shadow: 0 0 6px #000;
}

.icon-logo {
    display: block;
    width: 17px;
    height: 17px;
    background: url(../images/logo.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin: 0px 0px 0 0px;
    pointer-events: none;
}

a.app-download > i {
    opacity: 0.8;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

a.app-download:hover > i {
    opacity: 1;
}